/**********************
 SPINNER LOADER
**********************/

@keyframes spinner-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spinner-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 767px) {

  .spinner-eclipse {
    width: 170px !important;
    height: 170px !important;
    -webkit-transform: translate(-70px, -70px) scale(1) translate(70px, 70px);
    transform: translate(-70px, -70px) scale(1) translate(70px, 70px);
  }

  .spinner-eclipse div {
    width: 150px;
    height: 150px;
    -webkit-transform-origin: 75px 78px;
    transform-origin: 75px 78px;
  }
}

@media screen and (min-width: 768px) {

  .spinner-eclipse {
    width: 185px !important;
    height: 185px !important;
    -webkit-transform: translate(-92px, -92px) scale(1) translate(92px, 92px);
    transform: translate(-92px, -92px) scale(1) translate(92px, 92px);
  }

  .spinner-eclipse div {
    width: 165px;
    height: 165px;
    -webkit-transform-origin: 82px 85px;
    transform-origin: 82px 85px;
  }
}

@media screen and (min-width: 992px) {

  .spinner-eclipse {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  }

  .spinner-eclipse div {
    width: 180px;
    height: 180px;
    -webkit-transform-origin: 90px 93px;
    transform-origin: 90px 93px;
  }
}


.spinner-eclipse div {
  position: absolute;
  -webkit-animation: spinner-eclipse 1s linear infinite;
  animation: spinner-eclipse 1s linear infinite;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  box-shadow: 0 6px 0 0 #6c7ae0;
}


/******** LOADABLE *************/

.loadable-spinner-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999999999999;
}

.loadable-content {
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -ms-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
}


/*********************
   SIDEBAR COMPONENT
*********************/

nb-sidebar {
  box-shadow: 5px 0 5px -5px #666666 !important;
  -webkit-box-shadow: 5px 0 5px -5px #666666 !important;
  border-radius: 1px !important;
  -webkit-appearance: none !important;
  z-index: 2000 !important;
}


/**********************
   HEADER COMPONENT
**********************/

nb-layout-header {
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5) !important;
  -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5) !important;
  border-radius: 1px !important;
  -webkit-appearance: none !important;
  z-index: 3000 !important;
}

.header-container a.logo,
.header-container nb-icon {
  color: #fff !important;;
}

@media (max-width: 767px) {

  .header-container .logo {
    font-size: 1rem !important;
  }
}

@media (min-width: 768px) {

  .header-container .logo {
    font-size: 1.125rem !important;
  }
}

/*************************
      SWAL ALERT
*************************/

.swal2-container {
  z-index: 2000 !important;
}

@media (max-width: 576px) {

  .swal2-popup {
    width: 20em !important;
  }
}

/*************************
      TABLE COMPONENT
*************************/

.container-table {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.wrap-table {
  width: 100%;
  overflow: hidden;
  border: 1px solid #e4e9f2;
  border-radius: .17rem;
  box-shadow: none;
  color: #222b45;
  font-family: Open Sans, sans-serif;
  font-size: .9375rem;
  font-weight: 400;
  line-height: 1.25rem;

  .table {
    width: 100%;
    display: table;
    margin: 0 !important;
  }
}


@media screen and (max-width: 768px) {
  .table {
    display: block;
  }
}

.custom-row {
  display: table-row;
  background: #fff;
}

.custom-row.header {
  color: #ffffff;
  background: #6c7ae0;
}

@media screen and (max-width: 768px) {
  .custom-row {
    display: block;
  }

  .custom-row.header {
    padding: 0;
    height: 0;
    border: none !important;
  }

  .custom-row.header .cell {
    display: none;
  }

  .custom-row .cell:before {
    font-size: 12px;
    color: #6c7ae0;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 700 !important;
    margin-bottom: 13px;
    content: attr(data-title);
    min-width: 98px;
    display: block;
  }
}

.cell {
  display: table-cell;
}

@media screen and (max-width: 768px) {
  .cell {
    display: block;
  }
}

.custom-row .cell {
  font-size: 14px;
  color: #666666;
  line-height: 1.2;
  font-weight: unset !important;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e4e9f2;
}

.custom-row.header .cell {
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset !important;

  padding-top: 19px;
  padding-bottom: 19px;
}

.custom-row .cell:nth-child(1) {
  width: 25%;
  padding-left: 40px;
}

.custom-row .cell:nth-child(2) {
  width: 30%;
}

.custom-row .cell:nth-child(3) {
  width: 20%;
}

.custom-row .cell:nth-child(4) {
  width: 25%;
}

.table, .custom-row {
  width: 100% !important;
}

.custom-row:hover {
  background-color: #ececff;
  cursor: pointer;
}

.custom-row.header:hover {
  background-color: #6c7ae0;
}

@media (max-width: 768px) {
  .custom-row {
    border-bottom: 1px solid #e4e9f2;
    padding-bottom: 14px;
    padding-top: 30px;
    padding-right: 15px;
    margin: 0 !important;
  }

  .custom-row .cell {
    border: none;
    padding-left: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .custom-row .cell:nth-child(1) {
    padding-left: 30px !important;
  }

  .custom-row .cell {
    font-size: 14px;
    color: #555555;
    line-height: 1.2;
    font-weight: unset !important;
  }

  .table, .custom-row, .cell {
    width: 100% !important;
  }
}

.table-footer {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: right;
  padding-right: 30px;
  background-color: #6c7ae0;
}

.table-footer .cell-footer {
  color: white;
  font-weight: 500;
}

.table-footer .cell-footer span {
  vertical-align: middle;
  padding: 0.15em 0.5rem 0.15em 0.5em;
  color: #ffffff;
  margin-right: 0.1em;
  margin-left: 0.1em;
  cursor: pointer;
}

.table-footer .cell-footer span.cell-footer-cursor {
  text-decoration: underline;
  font-weight: 800 !important;
}

.table-footer .cell-footer nb-icon:first-child {
  vertical-align: middle;
  margin-right: 0.25rem;
  cursor: pointer;
}

.table-footer .cell-footer nb-icon:last-child {
  vertical-align: middle;
  margin-left: 0.25rem;
  cursor: pointer;
}


/***********************
  TABLE BILL COMPONENT
***********************/

.table-bill .custom-row .cell:nth-child(1) {
  width: 20%;
  padding-left: 40px;
}

.table-bill .custom-row .cell:nth-child(2) {
  width: 30%;
}

.table-bill .custom-row .cell:nth-child(3) {
  width: 25%;
}

.table-bill .custom-row .cell:nth-child(4) {
  width: 25%;
}


/***************************
   TABLE PRODUCT COMPONENT
***************************/

.table-product .custom-row .cell:nth-child(1) {
  width: 35%;
  padding-left: 40px;
}

.table-product .custom-row .cell:nth-child(2) {
  width: 15%;
}

.table-product .custom-row .cell:nth-child(3) {
  width: 25%;
}

.table-product .custom-row .cell:nth-child(4) {
  width: 25%;
}
