/************************
      PAGE USER
************************/
app-user {
  background-color: white;
  width: 100%;
  height: 100%;
}

app-logout {
  top: 50%;
  position: relative;
  transform: translateY(-50%);

  div:first-child {
    position: relative;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    padding: 1rem;
  }
}

@media (min-width: 769px) {
  app-user .modal-img {
    width: 30%;
  }
}

@media (min-width: 993px) {
  app-user .modal-img {
    width: 80%;
  }
}


/********************
   PAGE NOT FOUND
********************/

.routing-error {
  position: relative;
  height: calc(100vh - 8rem);
  background: white;
  padding: 2.25rem;
}

.routing-error .routing-error-notfound {
  width: 100%;
  text-align: center;
}

.routing-error .routing-error-notfound p.routing-error-glitch {
  color: black;
  font-size: 100px;
  position: relative;
  width: 213px;
  margin: 0 auto;
  user-select: none;
  -webkit-user-select: none;
  max-width: initial;
  left: initial;
  transform: initial;
  display: inline-block;
}

.routing-error .routing-error-notfound h1 {
  font-size: 200px;
  margin-bottom: 0.3em;
  margin-top: 0;
  font-weight: 900;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background: url('../img/not-found-background.jpg') no-repeat center;
  line-height: initial;
}

.routing-error .routing-error-notfound h2 {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}

.routing-error .routing-error-notfound p {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 0;
  max-width: 500px;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

@media only screen and (max-width: 767px) {

  .routing-error .routing-error-notfound h1 {
    font-size: 112px;
  }

  .routing-error .routing-error-notfound h2 {
    font-size: 16px;
  }

  .routing-error .routing-error-notfound p {
    color: #000;
    font-size: 13px;
    max-width: 325px;
  }
}


/************************
      CUSTOMER PAGES
************************/

.bill-title,
.customer-title {
  border-radius: 0.17rem;
  box-shadow: none;
  font-family: Open Sans, sans-serif;
  font-size: 1.05rem !important;
  font-weight: 400;
  line-height: 1.1rem;
  color: #6c7ae0;
  border: 2px solid #6c7ae0;
}

.bill-title nb-icon,
.customer-title nb-icon {
  width: 1.3em !important;
  height: 1.3em !important;
  margin-right: 0.5em;
}

.bill-title span,
.bill-title nb-icon,
.customer-title span,
.customer-title nb-icon {
  vertical-align: middle;
}

.bill-title nb-select,
.customer-title nb-select {
  min-width: 200px !important;

  nb-icon {
    width: 1em !important;
    height: 1em !important;
  }
}

app-table-customer {
  width: 100%;
}

.bill-form-header,
.customer-form-header {
  background: #6c7ae0;
  color: #ffffff;
  padding-bottom: 19px;
  padding-top: 19px;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  font-weight: unset !important;
}

.bill-form,
.customer-form {
  width: 100%;
  padding: 1.5em 1.5em 0.5em;
}

.customer-form-header nb-select .select-button:focus {
  box-shadow: none !important;
}


/************************
      BILL PAGES
************************/

.bill-list-item-content {
  max-height: 400px;
  height: 400px;
  overflow-y: auto;
}

.bill-list-item-content::-webkit-scrollbar {
  width: 0 !important;
}

.bill-list-item-content::-webkit-scrollbar-track {
  background: transparent !important;
}

.bill-list-item-content::-webkit-scrollbar-thumb {
  background: transparent !important;
}

.bill-list-item:first-child {
  margin-top: 1em;
}

.bill-list-item {
  background: #6c7ae0;
  color: #ffffff;
  border: 1px solid #6c7ae0 !important;
  border-radius: 0.17rem;
  padding: 0.4375rem 0 0.4375rem 0.4375rem !important;
  margin-bottom: 1em;
}

.bill-list-item nb-icon {
  margin-right: 0.5em;
  cursor: pointer;
}

.bill-list-item span {
  width: calc(80% - 1.5em);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 3%;
}

.bill-list-item input {
  max-width: calc(20% - 1.5em - 3%) !important;
  padding: 0.2rem !important;
  text-align: center !important;
}

.bill-entity-footer,
.bill-form-footer {
  background: #6c7ae0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

.bill-entity-footer div:first-child {
  text-align: left;
  width: 60%;
  border-right: 1px solid #ffffff;
  padding: 1em 1em 1em 1.5em;
}

.bill-entity-footer div:first-child span span,
.bill-form-footer div:first-child span span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: calc(100% - 3em - 0.25rem);
}

.bill-form-footer div:first-child {
  text-align: left;
  width: 80%;
  border-right: 1px solid #ffffff;
  padding: 1em 1em 1em 1.5em;
}

.bill-entity-footer div:last-child {
  width: 40%;
  text-align: right;
  padding: 1em 1.5em 1em 1em;
}

.bill-form-footer div:last-child {
  width: 20%;
  text-align: right;
  padding: 1em 1.5em 1em 1em;
}


/***************************
     BILL ENTITY PAGE
***************************/

.bill-form input,
.bill-form [nbInput]:disabled {
  color: #666666 !important;
}

@media (max-width: 992px) {

  .bill-entity-card div:last-child,
  .bill-entity-card div:first-child {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 1rem !important;
  }
}

@media (min-width: 992px) {

  .bill-entity-card div:first-child {
    padding-left: 0 !important;
  }

  .bill-entity-card div:last-child {
    padding-right: 0 !important;
  }
}
