@import '../../../node_modules/@nebular/theme/styles/theming';
@import '../../../node_modules/@nebular/theme/styles/themes';

$nb-themes: nb-register-theme((
        layout-padding-top: 2.25rem,
        menu-item-icon-margin: 0 0.5rem 0 0,
        card-height-tiny: 13.5rem,
        card-height-small: 21.1875rem,
        card-height-medium: 28.875rem,
        card-height-large: 36.5625rem,
        card-height-giant: 44.25rem,
        card-margin-bottom: 1.875rem,
        card-header-with-select-padding-top: 0.5rem,
        card-header-with-select-padding-bottom: 0.5rem,
        select-min-width: 6rem,
        slide-out-background: #f7f9fc,
        slide-out-shadow-color: 0 4px 14px 0 #666666,
        slide-out-shadow-color-rtl: 0 4px 14px 0 #666666,
), default, default);

$nb-themes: nb-register-theme((
        layout-padding-top: 2.25rem,
        menu-item-icon-margin: 0 0.5rem 0 0,
        card-height-tiny: 13.5rem,
        card-height-small: 21.1875rem,
        card-height-medium: 28.875rem,
        card-height-large: 36.5625rem,
        card-height-giant: 44.25rem,
        card-margin-bottom: 1.875rem,
        card-header-with-select-padding-top: 0.5rem,
        card-header-with-select-padding-bottom: 0.5rem,
        select-min-width: 6rem,
        slide-out-background: #252547,
        slide-out-shadow-color: 2px 0 3px #29157a,
        slide-out-shadow-color-rtl: -2px 0 3px #29157a,
), cosmic, cosmic);

$nb-themes: nb-register-theme((
        layout-padding-top: 2.25rem,
        menu-item-icon-margin: 0 0.5rem 0 0,
        card-height-tiny: 13.5rem,
        card-height-small: 21.1875rem,
        card-height-medium: 28.875rem,
        card-height-large: 36.5625rem,
        card-height-giant: 44.25rem,
        card-margin-bottom: 1.875rem,
        card-header-with-select-padding-top: 0.5rem,
        card-header-with-select-padding-bottom: 0.5rem,
        select-min-width: 6rem,
        slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
        slide-out-shadow-color: 0 4px 14px 0 #666666,
        slide-out-shadow-color-rtl: 0 4px 14px 0 #666666,
), corporate, corporate);

$nb-themes: nb-register-theme((
        layout-padding-top: 2.25rem,
        menu-item-icon-margin: 0 0.5rem 0 0,
        card-height-tiny: 13.5rem,
        card-height-small: 21.1875rem,
        card-height-medium: 28.875rem,
        card-height-large: 36.5625rem,
        card-height-giant: 44.25rem,
        card-margin-bottom: 1.875rem,
        card-header-with-select-padding-top: 0.5rem,
        card-header-with-select-padding-bottom: 0.5rem,
        select-min-width: 6rem,
        slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
        slide-out-shadow-color: 0 4px 14px 0 #666666,
        slide-out-shadow-color-rtl: 0 4px 14px 0 #666666,
), dark, dark);


/**********************
    OVERRIDE THEME
**********************/

.nb-theme-corporate {

  nb-layout .layout .layout-container .content .columns nb-layout-column {
    overflow-x: hidden !important;
  }

  nb-menu .menu-item a {
    color: #666666 !important;
  }

  a.text-link,
  a.text-link:hover,
  a.text-link:focus,
  nb-menu .menu-item a:hover .menu-icon,
  nb-menu .menu-item a:hover,
  nb-menu .menu-item a.active .menu-icon,
  nb-menu .menu-item a.active,
  nb-sidebar.compacted nb-menu .menu-item a.active {
    color: #6c7ae0 !important;
  }

  a.text-link:hover {
    text-decoration: underline;
  }

  nb-sidebar.compacted nb-menu .menu-item a.active::before {
    background: #6c7ae0 !important;
  }

  @media (max-width: 767.98px) {
    nb-layout .layout .layout-container .content .columns nb-layout-column {
      padding: 1rem !important;
    }
  }

  nb-select.appearance-outline .select-button, input, textarea {
    border: 1px solid #6c7ae0 !important;
    background: #fff !important;
    color: #666666 !important;
  }


  [nbInput]:focus {
    outline: none;
    border-color: #6c7ae0 !important;
    box-shadow: 0 0 0 0.175rem #6c7ae0 !important;
  }

  [nbButton].appearance-filled.status-primary {
    background-color: #6c7ae0 !important;
    border-color: #6c7ae0 !important;
    color: #ffffff;
  }

  [nbButton].appearance-filled.status-primary:hover {
    background-color: #5260ca !important;
    border-color: #5260ca !important;
  }

  [nbButton].appearance-filled.status-primary:focus {
    background-color: #3442ad !important;
    border-color: #3442ad !important;
  }

  [nbButton].appearance-filled.status-primary[disabled] {
    background-color: #edf1f7 !important;
    border-color: #edf1f7 !important;
    color: #c5cee0 !important;
  }

  nb-select.appearance-outline .select-button.placeholder {
    color: #8f9bb3 !important;
    font-size: 0.9375rem !important;
    font-weight: 500 !important;
    line-height: 1.5rem !important;
  }

  nb-select.size-medium .select-button, .size-medium nb-option {
    font-size: 0.9375rem !important;
    color: #8f9bb3 !important;
  }

  nb-option.selected,
  nb-option:hover {
    background-color: #ffffff;
    color: #6c7ae0 !important;
  }

  .form-control-group .label,
  .form-group .label {
    color: #6c7ae0 !important;
  }

  @media (max-width: 768px) {
    .modal-custom {
      width: 100vw;
      height: 100vh;

      .modal-dialog {
        margin: 0 !important;
        width: 100% !important;
        height: 100% !important;
        min-height: 100% !important;
        max-width: 100% !important;

        .modal-content {
          padding: 1.75em !important;
          border: none !important;
          border-radius: 0 !important;
          width: 100%;
          height: 100%;
          background-color: #6c7ae0;
        }
      }
    }
  }

  @media (min-width: 769px) {
    .modal-dialog {
      max-width: 730px !important;
    }
  }

  nb-layout-header nav {
    background: #6c7ae0;
  }

  nb-user .user-name {
    color: white !important;
    font-weight: 600 !important;
  }

  nb-user.shape-round .user-picture {
    border: 1px solid #fff;
  }
}

