<div class="customer-form bgwhite">
    <form [formGroup]="formGroup">
        <div class="form-group">
            <label class="label" for="name">Name</label>
            <input #name="" nbInput [fullWidth]="true" [placeholder]="'Name'" autocomplete="off"
                   [(ngModel)]="model.name" id="name" type="text" [formControlName]="'name'"
                   class="input-full-width size-medium shape-rectangle">
            <div *ngIf="isFocused(name) && formGroup.controls['name'].invalid  && (formGroup.controls['name'].dirty || formGroup.controls['name'].touched)"
                 [ngStyle]="{marginTop: '1rem'}" class="alert alert-danger text-left">
                <div *ngIf="formGroup.controls['name'].errors.required">
                    Name is required
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="label" for="username">Username</label>
            <input #username="" nbInput [fullWidth]="true" [placeholder]="'Username'" autocomplete="off"
                   [formControlName]="'username'" [(ngModel)]="model.username" id="username" type="text"
                   class="input-full-width size-medium shape-rectangle">
            <div *ngIf="isFocused(username) && formGroup.controls['username'].invalid  && (formGroup.controls['username'].dirty || formGroup.controls['username'].touched)"
                 [ngStyle]="{marginTop: '1rem'}" class="alert alert-danger text-left">
                <div *ngIf="formGroup.controls['username'].errors.required">
                    Username is required
                </div>
            </div>
        </div>

        <div class="form-control-group">
            <label class="label" for="input-password">Password</label>
            <input #password="" nbInput fullWidth [formControlName]="'password'" type="password" id="input-password"
                   name="Password" [placeholder]="'Password'"
                   [(ngModel)]="model.password" autocomplete="off">
            <div *ngIf="isFocused(password) && formGroup.controls['password'].invalid  && (formGroup.controls['password'].dirty || formGroup.controls['password'].touched)"
                 [ngStyle]="{marginTop: '1rem'}" class="alert alert-danger text-left">
                <div *ngIf="formGroup.controls['password'].errors.required">
                    Password is required
                </div>
                <div *ngIf="formGroup.controls['password'].errors.hasSmallCase ||
                    formGroup.controls['password'].errors.hasCapitalCase ||
                    formGroup.controls['password'].errors.hasSpecialCharacters ||
                    formGroup.controls['password'].errors.hasNumber">
                    Must contains at least a number, a special character, an uppercase and a lowercase letter
                </div>
                <div *ngIf="formGroup.controls['password'].errors.minlength">
                    Password must be at least 8 characters long

                </div>
                <div *ngIf="formGroup.controls['password'].errors.maxlength">
                    Password must be 64 characters maximum
                </div>
            </div>
        </div>

        <div class="form-group text-center mt-4">
            <button nbButton type="submit" [disabled]="!formGroup.valid"
                    (click)="emitter.emit({action: 'edit', model: model})">Edit
            </button>
        </div>
    </form>
</div>
