<div>
    <div class="swal2-header">
        <div class="swal2-icon swal2-question swal2-animate-question-icon" style="display: flex;">
        </div>
    </div>
    <div class="swal2-content">
        <div id="swal2-content" style="display: block;">Are you sure you want to log out?</div>
    </div>
    <div class="swal2-actions" style="display: flex;">
        <button type="button" class="swal2-confirm swal2-styled" (click)="logout(true)"
                style="display: inline-block; border-left-color: rgb(48, 133, 214); border-right-color: rgb(48, 133, 214);">
            Yes
        </button>
        <button type="button" class="swal2-cancel swal2-styled" (click)="logout(false)"
                style="display: inline-block; background-color: rgb(221, 51, 51);">No
        </button>
    </div>
</div>

