<h1 id="title" class="title">Register</h1>

<form [formGroup]="formGroup">
    <div class="row mt-5 mb-5 ml-0 mr-0">
        <div class="col-lg-12 pr-4">
            <div class="form-control-group">
                <label class="label" for="input-name">Name</label>
                <input #name="" nbInput fullWidth [formControlName]="'name'" id="input-name" type="text"
                       name="Name"
                       [placeholder]="'Name'" [(ngModel)]="user.name"
                       autocomplete="off">
                <div *ngIf="isFocused(name) && formGroup.controls['name'].invalid  && (formGroup.controls['name'].dirty || formGroup.controls['name'].touched)"
                     [ngStyle]="{marginTop: '1rem'}" class="alert alert-danger text-left">
                    <div *ngIf="formGroup.controls['name'].errors.required">
                        Name is required
                    </div>
                    <div *ngIf="formGroup.controls['name'].errors.pattern">
                        Name should not contain special characters
                    </div>
                </div>
            </div>


            <div class="form-control-group">
                <label class="label" for="input-username">Username</label>
                <input #username="" nbInput fullWidth [formControlName]="'username'" id="input-username" type="text"
                       name="Username"
                       [placeholder]="'Username'" [(ngModel)]="user.username"
                       autocomplete="off">
                <div *ngIf="isFocused(username) && formGroup.controls['username'].invalid  && (formGroup.controls['username'].dirty || formGroup.controls['username'].touched)"
                     [ngStyle]="{marginTop: '1rem'}" class="alert alert-danger text-left">
                    <div *ngIf="formGroup.controls['username'].errors.required">
                        Username is required
                    </div>
                </div>
            </div>


            <div class="form-control-group">
                <label class="label" for="input-password">Password</label>
                <input #password="" nbInput fullWidth [formControlName]="'password'" type="password" id="input-password"
                       name="Password" [placeholder]="'Password'"
                       [(ngModel)]="user.password" autocomplete="off">
                <div *ngIf="isFocused(password) && formGroup.controls['password'].invalid  && (formGroup.controls['password'].dirty || formGroup.controls['password'].touched)"
                     [ngStyle]="{marginTop: '1rem'}" class="alert alert-danger text-left">
                    <div *ngIf="formGroup.controls['password'].errors.required">
                        Password is required
                    </div>
                    <div *ngIf="formGroup.controls['password'].errors.hasSmallCase ||
                    formGroup.controls['password'].errors.hasCapitalCase ||
                    formGroup.controls['password'].errors.hasSpecialCharacters ||
                    formGroup.controls['password'].errors.hasNumber">
                        Must contains at least a number, a special character, an uppercase and a lowercase letter
                    </div>
                    <div *ngIf="formGroup.controls['password'].errors.minlength">
                        Password must be at least 8 characters long

                    </div>
                    <div *ngIf="formGroup.controls['password'].errors.maxlength">
                        Password must be 64 characters maximum
                    </div>
                </div>
            </div>
            <button nbButton fullWidth [disabled]="!formGroup.valid" (click)="register()">
                Register
            </button>
        </div>
    </div>

</form>

<section class="another-action" aria-label="Sign in">
    Already have an account? <a class="text-link" [routerLink]="'../login'">
    Login
</a>
</section>
