<div class="routing-error">
    <div class="routing-error-notfound">
        <h1>Oops!</h1>
        <p class="routing-error-glitch">404</p>
        <h2>Page not found</h2>
        <p>The page you are looking for might has been removed or its name has been changed or is temporarily
            unavailable.</p>
        <button nbButton hero [status]="'primary'"
                [routerLink]="'/'">Go To Homepage
        </button>
    </div>
</div>
