<div class="customer-form-header">
    <span>{{title}}</span>
</div>
<div class="customer-form bgwhite">
    <form [formGroup]="formGroup">
        <div class="form-group">
            <label class="label" for="name">Name</label>
            <input #name="" nbInput [fullWidth]="true" [placeholder]="'Name'" autocomplete="off"
                   [(ngModel)]="model.Name" id="name" type="text" [formControlName]="'name'"
                   class="input-full-width size-medium shape-rectangle">
            <div *ngIf="isFocused(name) && formGroup.controls['name'].invalid  && (formGroup.controls['name'].dirty || formGroup.controls['name'].touched)"
                 [ngStyle]="{marginTop: '1rem'}" class="alert alert-danger text-left">
                <div *ngIf="formGroup.controls['name'].errors.required">
                    Name is required
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="label" for="surname">Surname</label>
            <input #surname="" nbInput [fullWidth]="true" [placeholder]="'Surname'" autocomplete="off"
                   [formControlName]="'surname'" [(ngModel)]="model.Surname" id="surname" type="text"
                   class="input-full-width size-medium shape-rectangle">
            <div *ngIf="isFocused(surname) && formGroup.controls['surname'].invalid  && (formGroup.controls['surname'].dirty || formGroup.controls['surname'].touched)"
                 [ngStyle]="{marginTop: '1rem'}" class="alert alert-danger text-left">
                <div *ngIf="formGroup.controls['surname'].errors.required">
                    Surname is required
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="label" for="email">Email address</label>
            <input #email="" nbInput [fullWidth]="true" [placeholder]="'Email address'" autocomplete="off"
                   [(ngModel)]="model.Email" id="email" type="email" [formControlName]="'email'"
                   class="input-full-width size-medium shape-rectangle">
            <div *ngIf="isFocused(email) && formGroup.controls['email'].invalid  && (formGroup.controls['email'].dirty || formGroup.controls['email'].touched)"
                 [ngStyle]="{marginTop: '1rem'}" class="alert alert-danger text-left">
                <div *ngIf="formGroup.controls['email'].errors.required">
                    Email address is required
                </div>
                <div *ngIf="formGroup.controls['email'].errors.email">
                    Wrong email address format
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="label" for="telephone">Phone number</label>
            <input #telephone="" nbInput [fullWidth]="true" [placeholder]="'Phone number'" autocomplete="off"
                   [(ngModel)]="model.Telephone" id="telephone" type="tel" [formControlName]="'telephone'"
                   class="input-full-width size-medium shape-rectangle" [size]="12" [maxlength]="12"
                   (keyup)="replaceTelephoneValue($event)" (keydown)="replaceTelephoneValue($event)">
            <div *ngIf="isFocused(telephone) && formGroup.controls['telephone'].invalid  && (formGroup.controls['telephone'].dirty || formGroup.controls['telephone'].touched)"
                 [ngStyle]="{marginTop: '1rem'}" class="alert alert-danger text-left">
                <div *ngIf="formGroup.controls['telephone'].errors.required">
                    Telephone is required
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="label d-block">City</label>
            <nb-select [fullWidth]="true" [placeholder]="'City'" [multiple]="false" [(selected)]="model.CityId"
                       [formControlName]="'city'">
                <nb-option *ngFor="let item of cities" [value]="item?.Id">
                    {{item?.Name}}
                </nb-option>
            </nb-select>
        </div>
        <div class="form-group text-center mt-4">
            <button nbButton type="submit" [disabled]="!formGroup.valid" *ngIf="!editable"
                    (click)="emitter.emit({action: 'create', model: model})">Create
            </button>
            <button nbButton type="submit" class="mr-3" [disabled]="!formGroup.valid" *ngIf="editable"
                    (click)="emitter.emit({action: 'edit', model: model})">Edit
            </button>
            <button nbButton type="submit" class="ml-3" [status]="'danger'" *ngIf="editable"
                    (click)="emitter.emit({action: 'delete', model: model})">Delete
            </button>
        </div>
    </form>
</div>
