<div class="row m-0 w-100 bgwhite p-3 mb-4 bill-title">
    <div class="col-lg-12" [class.text-center]="isMobile()">
        <span class="align-middle" [class.d-block]="isMobile()" [class.d-inline-block]="!isMobile()"
              [class.pt-2]="!isMobile()" [class.mb-4]="isMobile()">
            <nb-icon class="d-inline-block" [icon]="'file-text-outline'"></nb-icon>
            <span class="d-inline-block" [class.text-center]="isMobile()">List of bills</span>
        </span>
        <span class="align-middle" [class.d-block]="isMobile()" [class.d-inline-block]="!isMobile()"
              [class.float-right]="!isMobile()">
            <nb-select [fullWidth]="false" [placeholder]="'Select a user'" [multiple]="false"
                       (selectedChange)="loadBill($event)">
                <nb-option *ngFor="let item of customers" [value]="item?.Id">
                    {{item?.Name}} {{item?.Surname}}
                </nb-option>
            </nb-select>
        </span>
    </div>
</div>

<div class="row m-0 mb-5" *ngIf="bills.length > 0">
    <div class="col-lg-12">
        <app-table-bill [headers]="['Bill Number', 'Information', 'Customer', 'Seller']" [data]="bills">
        </app-table-bill>
    </div>
</div>
