<div class="row m-0 w-100 bgwhite p-3 mb-4 customer-title">
    <div class="col-lg-12" [class.text-center]="isMobile()">
        <span class="align-middle" [class.d-inline-block]="!isMobile()" [class.mb-2]="isMobile()"
              [class.d-block]="isMobile()">
            <nb-icon class="d-inline-block align-middle" [icon]="'file-text-outline'"></nb-icon>
            <span class="d-inline-block align-middle"><b>Bill Number</b> - {{bill?.BillInformation.BillNumber}}</span>
        </span>
        <span class="align-middle" [class.d-inline-block]="!isMobile()" [class.float-right]="!isMobile()">
            <nb-icon class="d-inline-block align-middle mr-1" [icon]="'calendar-outline'"></nb-icon>
            <span class="d-inline-block align-middle">{{bill.BillInformation.Date | date: 'dd/MM/yyyy'}}</span>
        </span>
    </div>
</div>
<div class="row m-0">
    <div class="col-lg-6 mb-4">
        <div class="customer-form-header">
            {{bill?.BillInformation.BillNumber}}
        </div>
        <div class="bill-form bgwhite">
            <div class="form-group">
                <label class="label d-block" for="number">Bill Number</label>
                <input nbInput="" id="number" class="w-100" [fullWidth]="true"
                       [value]="bill?.BillInformation?.BillNumber"
                       [disabled]="true">
            </div>
            <div class="form-group">
                <label class="label d-block" for="date">Date</label>
                <input nbInput="" id="date" class="w-100" [fullWidth]="true"
                       [value]="bill?.BillInformation?.Date  | date: 'dd/MM/yyyy'"
                       [disabled]="true">
            </div>
            <div class="form-group">
                <label class="label d-block" for="customer">Customer</label>
                <input nbInput="" id="customer" class="w-100" [fullWidth]="true"
                       [value]="bill?.BillInformation?.CustomerId + ' - ' + bill?.Customer?.Name + ' ' + bill?.Customer?.Surname"
                       [disabled]="true">
            </div>
            <div class="form-group">
                <label class="label d-block" for="seller">Seller</label>
                <input nbInput="" id="seller" class="w-100" [fullWidth]="true"
                       [value]="bill?.BillInformation?.SellerId + ' - ' + bill?.BillInformation?.Seller?.Name + ' ' + bill?.BillInformation?.Seller?.Surname"
                       [disabled]="true">
            </div>
            <div class="form-group">
                <label class="label" for="comment">Comment</label>
                <textarea nbInput="" [fullWidth]="true" class="input-full-width size-medium shape-rectangle"
                          style="resize: none;" id="comment" [value]="bill?.BillInformation?.Comment"
                          [disabled]="true"></textarea>
            </div>
            <div class="form-group">
                <div class="row m-0  bill-entity-card">
                    <div class="col-lg-8">
                        <label class="label" for="cardNumber">{{bill?.BillInformation?.CreditCard?.Type}}</label>
                        <input nbInput="" id="cardNumber" class="w-100" [fullWidth]="true"
                               [value]="hideCardNumber(bill?.BillInformation?.CreditCard?.CardNumber)"
                               [disabled]="true">
                    </div>
                    <div class="col-lg-4">
                        <label class="label" for="cardExp">Card Exp.</label>
                        <input nbInput="" id="cardExp" class="w-100" [fullWidth]="true"
                               [value]="expirationMonth(bill?.BillInformation?.CreditCard?.ExpirationMonth) + '/' +  bill?.BillInformation?.CreditCard?.ExpirationYear"
                               [disabled]="true">
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100 d-block bill-entity-footer">
            <div class="d-inline-block align-middle">
                <span class="d-block">
                    <nb-icon class="d-inline-block align-middle mr-1" [icon]="'cube-outline'"></nb-icon>
                    <span class="d-inline-block align-middle">Total price</span>
                </span>
            </div>
            <div class="d-inline-block align-middle">
                <span class="d-block">{{totalPrice(bill.Items) + ' €'}}</span>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-4">
        <div class="customer-form-header">
            Products
        </div>
        <div class="bill-form bgwhite" style="padding-bottom: 1.5em">
            <div class="bill-list-item-content" style="max-height: 500px; height: 500px">
                <div class="bill-list-item" *ngFor="let item of bill.Items">
                    <nb-icon class="d-inline-block align-middle" [icon]="'close-outline'"
                             (click)="removedProducts(item.ProductId)">
                    </nb-icon>
                    <span class="d-inline-block align-middle">{{findProductName(item.ProductId)}}</span>
                    <input class="d-inline-block align-middle" nbInput [placeholder]="'Nb'"
                           [(ngModel)]="item.Quantity" [ngModelOptions]="{standalone: true}"
                           (keydown)="replaceNumber($event)" (keyup)="replaceNumber($event)">
                </div>
            </div>
        </div>
        <div class="w-100 d-block bill-form-footer">
            <div class="d-inline-block align-middle">
                <span class="d-block">
                    <nb-icon class="d-inline-block align-middle mr-1" [icon]="'cube-outline'"></nb-icon>
                    <span class="d-inline-block align-middle">Number total of products</span>
                </span>
            </div>
            <div class="d-inline-block align-middle">
                <span class="d-block">{{totalProducts(bill.Items)}}</span>
            </div>
        </div>
    </div>
</div>
<div class="row m-0 mt-4">
    <div class="col-lg-12 text-center">
        <button nbButton type="submit" [status]="'danger'" (click)="deleteBill()">Delete the bill
        </button>
    </div>
</div>
