<div class="wrap-table table-product">
    <div class="table">
        <div class="custom-row header" *ngIf="!isMobile()">
            <div class="cell" *ngFor="let item of headers">
                {{item}}
            </div>
        </div>

        <div class="custom-row" *ngFor="let item of data | slice:pageFrom:pageFrom + pageSize;">
            <div class="cell" data-title="Product Information">
                <span class="d-block mb-2"><b>Name: </b>{{item?.Name}}</span>
                <span class="d-block">
                    <nb-icon class="d-inline-block align-middle" style="width: 0.6em; height: 0.6em;"
                             [icon]="'hash-outline'">
                    </nb-icon>
                    <small style="line-height: 1.25;" class="d-inline-block align-middle">
                        {{item?.ProductNumber}}
                    </small>
                </span>
            </div>
            <div class="cell" data-title="Color">
                <nb-icon *ngIf="item?.Color" class="d-inline-block align-middle mr-1"
                         [icon]="'color-palette-outline'"></nb-icon>
                <span class="d-inline-block align-middle">
                        {{item?.Color | uppercase}}
                 </span>
            </div>
            <div class="cell" data-title="Sub Category">
                {{item?.SubCategory?.Name}}
            </div>
            <div class="cell" data-title="Category">
                {{item?.SubCategory?.Category?.Name}}
            </div>
        </div>
    </div>
    <div class="table-footer w-100">
        <div class="cell-footer">
            <nb-icon (click)="prev()" [icon]="'arrow-ios-back-outline'"></nb-icon>
            <span class="cell-footer-cursor">{{pageActual}}</span>
            <span *ngIf="pageActual < pageTotal">/</span>
            <span *ngIf="pageActual < pageTotal" (click)="next(pageTotal)">{{pageTotal}}</span>
            <nb-icon (click)="next()" [icon]="'arrow-ios-forward-outline'"></nb-icon>
        </div>
    </div>
</div>
