<div class="wrap-table">
    <div class="table">
        <div class="custom-row header" *ngIf="!isMobile()">
            <div class="cell" *ngFor="let item of headers">
                {{item}}
            </div>
        </div>

        <div class="custom-row" *ngFor="let item of data | slice:pageFrom:pageFrom + pageSize;"
             (click)="navigate(item?.Id)">
            <div class="cell" data-title="Full Name">
                {{item?.Name}} {{item?.Surname}}
            </div>
            <div class="cell" data-title="Email">
                {{item?.Email}}
            </div>
            <div class="cell" data-title="Phone Number">
                {{item?.Telephone}}
            </div>
            <div class="cell" data-title="Location">
                {{item?.City?.Name}}, {{item?.State?.Name}}
            </div>
        </div>
    </div>
    <div class="table-footer w-100">
        <div class="cell-footer">
            <nb-icon (click)="prev()" [icon]="'arrow-ios-back-outline'"></nb-icon>
            <span class="cell-footer-cursor">{{pageActual}}</span>
            <span *ngIf="pageActual < pageTotal">/</span>
            <span *ngIf="pageActual < pageTotal" (click)="next(pageTotal)">{{pageTotal}}</span>
            <nb-icon (click)="next()" [icon]="'arrow-ios-forward-outline'"></nb-icon>
        </div>
    </div>
</div>
