<div class="row m-0 w-100 bgwhite p-3 mb-4 customer-title">
    <div class="col-lg-12" [class.text-center]="isMobile()">
        <span class="align-middle" [class.d-block]="isMobile()" [class.d-inline-block]="!isMobile()"
              [class.pt-2]="!isMobile()" [class.mb-4]="isMobile()">
         <nb-icon class="d-inline-block" [icon]="'people-outline'"></nb-icon>
        <span class="d-inline-block">List of customers</span>
        </span>
        <span class="align-middle" [class.d-block]="isMobile()" [class.d-inline-block]="!isMobile()"
              [class.float-right]="!isMobile()">
           <nb-select [fullWidth]="false" [placeholder]="'Select a customer'" [multiple]="false"
                      (selectedChange)="navigate($event)">
            <nb-option *ngFor="let item of customers" [value]="item?.Id">
                {{item?.Name}} {{item?.Surname}}
            </nb-option>
        </nb-select>
        </span>
    </div>
</div>

<div class="row m-0" *ngIf="customers.length > 0">
    <div class="col-lg-9 mb-4">
        <app-table-customer [data]="customers" [pageFrom]="0" [pageSize]="10"
                            [headers]="['Full Name', 'Email', 'Phone Number', 'Location']">
        </app-table-customer>
    </div>
    <div class="col-lg-3 mb-4">
        <app-form-customer [title]="'Create a new customer'" [editable]="false"
                           (emitter)="createCustomer($event)" [receiver]="emitter.asObservable()">
        </app-form-customer>
    </div>
</div>
