<div class="row m-0 w-100 bgwhite p-3 mb-4 bill-title">
    <div class="col-lg-12" [class.text-center]="isMobile()">
        <nb-icon class="d-inline-block" [icon]="'file-text-outline'"></nb-icon>
        <span class="d-inline-block" [class.text-center]="isMobile()">Create a new bill</span>
    </div>
</div>


<div class="row m-0 mb-4">
    <div class="col-lg-8 mb-4">
        <div class="bill-form-header">
            <span>Information</span>
        </div>
        <div class="bill-form bgwhite">

            <form [formGroup]="formGroup">
                <div class="row m-0">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label" for="billNumber">Bill Number</label>
                            <input #billNumber="" nbInput [fullWidth]="true" [placeholder]="'Bill Number'"
                                   autocomplete="off" [(ngModel)]="model.BillInformation.BillNumber"
                                   id="billNumber" type="text" [formControlName]="'billNumber'"
                                   class="input-full-width size-medium shape-rectangle" [maxLength]="7" [size]="7">
                            <div *ngIf="isFocused(billNumber) && formGroup.controls['billNumber'].invalid  && (formGroup.controls['billNumber'].dirty || formGroup.controls['billNumber'].touched)"
                                 [ngStyle]="{marginTop: '1rem'}" class="alert alert-danger text-left">
                                <div *ngIf="formGroup.controls['billNumber'].errors.required">
                                    Bill Number is required
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="label" for="comment">Comment</label>
                            <textarea [(ngModel)]="model.BillInformation.Comment" nbInput [fullWidth]="true"
                                      [placeholder]="'Comment'" autocomplete="off" [formControlName]="'comment'"
                                      class="input-full-width size-medium shape-rectangle" style="resize: none;"
                                      id="comment" type="text"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="label d-block">Customer</label>
                            <nb-select [fullWidth]="true" [placeholder]="'Customer'" [multiple]="false"
                                       [formControlName]="'customer'" [(selected)]="model.BillInformation.CustomerId">
                                <nb-option *ngFor="let item of customers" [value]="item?.Id">
                                    {{item?.Name}} {{item?.Surname}}
                                </nb-option>
                            </nb-select>
                        </div>
                        <div class="form-group">
                            <label class="label d-block">Seller</label>
                            <nb-select [fullWidth]="true" [placeholder]="'Seller'" [multiple]="false"
                                       [formControlName]="'seller'" [(selected)]="model.BillInformation.SellerId">
                                <nb-option *ngFor="let item of sellers" [value]="item?.Id">
                                    {{item?.Name}} {{item?.Surname}}
                                </nb-option>
                            </nb-select>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="label d-block">Products</label>
                            <nb-select [fullWidth]="true" [placeholder]="'Products'" [multiple]="true"
                                       [formControlName]="'products'" [(selected)]="selectedItems"
                                       (selectedChange)="onItemChange($event)">
                                <nb-option *ngFor="let item of products" [value]="item?.Item">
                            <span>
                                <span class="d-block">{{item?.Name}}</span>
                                <span class="d-block">
                                    <small class="d-inline-block align-middle">{{item?.SubCategory?.Name}}</small>
                                    <small class="d-inline-block align-middle"> - </small>
                                    <small class="d-inline-block align-middle"> {{item?.SubCategory.Category?.Name}}</small>
                                </span>
                                <small *ngIf="item?.Color" class="d-block">{{item?.Color}}</small>
                            </span>
                                </nb-option>
                            </nb-select>
                        </div>


                        <div class="form-group">
                            <label class="label d-block">Items</label>
                            <div class="bill-list-item-content">
                                <div class="bill-list-item" *ngFor="let item of model.Items">
                                    <nb-icon class="d-inline-block align-middle" [icon]="'close-outline'"
                                             (click)="removedProducts(item.ProductId)">
                                    </nb-icon>
                                    <span class="d-inline-block align-middle">{{findProductName(item.ProductId)}}</span>
                                    <input class="d-inline-block align-middle" nbInput [placeholder]="'Nb'"
                                           [(ngModel)]="item.Quantity" [ngModelOptions]="{standalone: true}"
                                           (keydown)="replaceNumber($event)" (keyup)="replaceNumber($event)">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
        <div class="w-100 d-block bill-form-footer">
            <div class="d-inline-block align-middle">
                <span class="d-block">
                    <nb-icon class="d-inline-block align-middle mr-1" [icon]="'cube-outline'"></nb-icon>
                    <span class="d-inline-block align-middle">Number total of products</span>
                </span>
            </div>
            <div class="d-inline-block align-middle">
                <span class="d-block">{{totalProducts(model.Items)}}</span>
            </div>
        </div>
    </div>

    <div class="col-lg-4 mb-4">
        <app-form-credit-card [model]="model.CreditCard" (emitter)="create($event)"
                              [receiver]="emitter.asObservable()" [valid]="formGroup.valid">
        </app-form-credit-card>
    </div>

</div>

