<h1 id="title" class="title">Login</h1>

<form [formGroup]="formGroup" aria-labelledby="title">

    <div class="form-control-group">
        <label class="label" for="input-username">Username</label>
        <input #username="" nbInput fullWidth [formControlName]="'username'" id="input-username" type="text"
               name="Username" [placeholder]="'Username'" [(ngModel)]="user.username" autocomplete="off">
        <div *ngIf="isFocused(username) && formGroup.controls['username'].invalid  && (formGroup.controls['username'].dirty || formGroup.controls['username'].touched)"
             [ngStyle]="{marginTop: '1rem'}" class="alert alert-danger text-left">
            <div *ngIf="formGroup.controls['username'].errors.required">
                Username is required
            </div>
        </div>
    </div>

    <div class="form-control-group">
        <label class="label" for="input-password">Password</label>
        <input #password="" nbInput fullWidth [formControlName]="'password'" type="password" id="input-password"
               name="Password" [placeholder]="'Password'" [(ngModel)]="user.password" autocomplete="off">
        <div *ngIf="isFocused(password) && formGroup.controls['password'].invalid  && (formGroup.controls['password'].dirty || formGroup.controls['password'].touched)"
             [ngStyle]="{marginTop: '1rem'}" class="alert alert-danger text-left">
            <div *ngIf="formGroup.controls['password'].errors.required">
                Password is required
            </div>
        </div>
    </div>
    <button nbButton fullWidth [disabled]="!formGroup.valid" (click)="login()">Login
    </button>
</form>

<section class="another-action" aria-label="Register">
    Don't have an account? <a class="text-link" [routerLink]="'../register'">
    Register</a>
</section>
