<div class="modal-header">
    <nb-icon style="cursor: pointer" (click)="kill.emit(true)" [icon]="'close-outline'"></nb-icon>
</div>
<div class="modal-body">
    <div class="row m-0">
        <div class="col-lg-4 text-center" [class.mb-3]="isMobile()">
            <div *ngIf="isMobile()">
                <img class="d-inline-block mb-4" [src]="model.img"
                     style="width: 30%; border: 2px solid #6c7ae0; border-radius: 50%;">
                <span class="d-block fs-20 font-weight-bold" style="color: #6c7ae0;">{{model.username}}</span>
                <span class="d-block fs-14" >Register on {{model.registerTime | date : 'dd/MM/yyyy'}}</span>
            </div>
            <div *ngIf="!isMobile()" style="top: 50%; position: relative; transform: translateY(-50%);">
                <img class="d-inline-block mb-4 modal-img" [src]="model.img"
                     style="border: 2px solid #6c7ae0; border-radius: 50%;">
                <span class="d-block fs-20 font-weight-bold" style="color: #6c7ae0;">{{model.username}}</span>
                <span class="d-block fs-14" >Register on {{model.registerTime | date : 'dd/MM/yyyy'}}</span>
            </div>

        </div>
        <div class="col-lg-8">
            <app-form-user [model]="model" (emitter)="editUser($event)"></app-form-user>
        </div>
    </div>
</div>

