<div class="header-container">
    <div class="logo-container">
        <a (click)="toggle()" class="sidebar-toggle">
            <nb-icon [icon]="'menu-2-outline'"></nb-icon>
        </a>
        <a class="logo" (click)="navigate('/')">
            <span>{{ title }}</span>
        </a>
    </div>
</div>

<div class="header-container">
    <nb-actions [size]="'small'">
        <nb-action class="control-item user-action" *ngIf="user && connected"
                   (click)="navigate('/pages/user', user?.username)">
            <nb-user [onlyPicture]="false" [name]="user?.username" [picture]="user?.img">
            </nb-user>
        </nb-action>
        <nb-action class="control-item"
                   [icon]="'log-in-outline'"
                   *ngIf="!connected"
                   (click)="navigate('/authentication')">
        </nb-action>
        <nb-action class="control-item"
                   [icon]="'log-out-outline'"
                   *ngIf="connected"
                   (click)="logout()">
        </nb-action>
    </nb-actions>
</div>
