<div class="wrap-table table-bill" *ngIf="data.length > 0">
    <div class="table">
        <div class="custom-row header" *ngIf="!isMobile()">
            <div class="cell" *ngFor="let item of headers">
                {{item}}
            </div>
        </div>

        <div class="custom-row" *ngFor="let item of data | slice:pageFrom:pageFrom + pageSize;"
             (click)="navigate(item)">
            <div class="cell" data-title="Bill Number">
                {{item?.BillInformation.BillNumber}}
            </div>
            <div class="cell" data-title="Information">
                <span class="d-inline-block align-middle mr-4" style="margin-bottom: 0.2em" *ngIf="item?.Items">
                    <nb-icon class="d-inline-block align-middle mr-1" [icon]="'cube-outline'"></nb-icon>
                    <span class="d-inline-block align-middle">{{item?.Items.length}} item(s)</span>
                </span>
                <span class="d-inline-block align-middle" style="margin-bottom: 0.2em" *ngIf="item?.Items">
                    <i class="far fa-money-bill-alt d-inline-block align-middle mr-1"></i>
                    <span>{{totalPrice(item?.Items)}} €</span>
                </span>
                <small class="d-block" *ngIf="item?.BillInformation.Comment"></small>
                <small class="d-block" *ngIf="!item?.BillInformation.Comment">No comment</small>
            </div>
            <div class="cell" data-title="Customer">
                {{item?.Customer?.Name}} {{item?.Customer?.Surname}}
            </div>
            <div class="cell" data-title="Seller">
                <span class="d-block">{{item?.BillInformation?.Seller?.Name}} {{item?.BillInformation?.Seller?.Surname}}</span>
                <small class="d-block align-middle" *ngIf="item?.BillInformation.Seller?.PermanentEmployee">Permanent employee</small>
            </div>
        </div>
    </div>
    <div class="table-footer w-100">
        <div class="cell-footer">
            <nb-icon (click)="prev()" [icon]="'arrow-ios-back-outline'"></nb-icon>
            <span class="cell-footer-cursor">{{pageActual}}</span>
            <span *ngIf="pageActual < pageTotal">/</span>
            <span *ngIf="pageActual < pageTotal" (click)="next(pageTotal)">{{pageTotal}}</span>
            <nb-icon (click)="next()" [icon]="'arrow-ios-forward-outline'"></nb-icon>
        </div>
    </div>
</div>
