<div class="row m-0 w-100 bgwhite p-3 mb-4 customer-title">
    <div class="col-lg-6" [class.text-center]="isMobile()">
        <nb-icon class="d-inline-block" [icon]="'people-outline'"></nb-icon>
        <span class="d-inline-block">List of products</span>
    </div>

</div>
<div class="row m-0" *ngIf="products.length > 0">
    <div class="col-lg-12 mb-4">
        <app-table-product [data]="products"
                           [headers]="['Product Information', 'Color', 'Sub Category', 'Category']"
                           [pageFrom]="0"
                           [pageSize]="10">
        </app-table-product>
    </div>
</div>
