<div class="row m-0 w-100 bgwhite p-3 mb-4 customer-title">
    <div class="col-lg-12" [class.mb-4]="isMobile()" [class.text-center]="isMobile()">
        <nb-icon class="d-inline-block" [icon]="'people-outline'"></nb-icon>
        <span class="d-inline-block">{{customer?.Name}} {{customer?.Surname}}</span>
    </div>
</div>
<div class="row m-0">
    <div class="col-lg-5 mb-4">
        <app-form-customer [title]="'Edit a customer'" [model]="customer" [editable]="true"
                           (emitter)="receive($event)">
        </app-form-customer>
    </div>
    <div class="col-lg-7 mb-4">
        <app-table-bill [headers]="['Bill Number', 'Information', 'Customer', 'Seller']" [data]="bills">
        </app-table-bill>
    </div>
</div>
