<div class="bill-form-header">
    <span>Enter a credit card</span>
</div>
<div class="bill-form bgwhite">
    <form [formGroup]="formGroup">
        <div class="form-group">
            <label class="label d-block">Credit Card</label>
            <nb-select [fullWidth]="true" [placeholder]="'Credit Card'" [multiple]="false"
                       [formControlName]="'card'" [(selected)]="model.Type">
                <nb-option *ngFor="let item of cards" [value]="item">
                    {{item}}
                </nb-option>
            </nb-select>
        </div>
        <div class="form-group">
            <label class="label" for="cardNumber">Credit Card Number</label>
            <input #cardNumber="" nbInput [fullWidth]="true" [placeholder]="'Credit Card Number'"
                   autocomplete="off" id="cardNumber" type="text" [formControlName]="'cardNumber'"
                   class="input-full-width size-medium shape-rectangle" [maxLength]="14" [size]="14"
                   [(ngModel)]="model.CardNumber"
                   (keydown)="replaceNumber($event)" (keyup)="replaceNumber($event)">
            <div *ngIf="isFocused(cardNumber) && formGroup.controls['cardNumber'].invalid  && (formGroup.controls['cardNumber'].dirty || formGroup.controls['cardNumber'].touched)"
                 [ngStyle]="{marginTop: '1rem'}" class="alert alert-danger text-left">
                <div *ngIf="formGroup.controls['cardNumber'].errors.required">
                    Credit Card Number is required
                </div>
            </div>
        </div>
        <div class="form-group mb-4">
            <label class="label" for="cardExpiration">Expiration Date</label>
            <input #cardExpiration="" nbInput [fullWidth]="true" [placeholder]="'Credit Card Expiration'"
                   autocomplete="off" id="cardExpiration" type="text" [formControlName]="'cardExpiration'"
                   class="input-full-width size-medium shape-rectangle" [maxLength]="7" [size]="7"
                   (keydown)="replaceExpirationDate($event)" (keyup)="replaceExpirationDate($event)"
                   (ngModelChange)="model.divide($event)">
            <div *ngIf="isFocused(cardExpiration) && formGroup.controls['cardExpiration'].invalid  && (formGroup.controls['cardExpiration'].dirty || formGroup.controls['cardExpiration'].touched)"
                 [ngStyle]="{marginTop: '1rem'}" class="alert alert-danger text-left">
                <div *ngIf="formGroup.controls['cardExpiration'].errors.required">
                    Expiration date is required
                </div>
                <div *ngIf="formGroup.controls['cardExpiration'].errors.dateError">
                    Wrong expiration date
                </div>
            </div>
        </div>

    </form>

    <div class="form-group text-center mt-4">
        <button nbButton type="submit" [disabled]="!formGroup.valid  || !valid" (click)="emitter.emit({action: 'create', model: model})">
            Create
        </button>
    </div>
</div>
